# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Local sensitive files
*.tfvars
*.credentials
*.key
*.pem
env-keys

# GitHub Actions artifacts / caches
/.github/actions/cache